* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: url(https://images.pexels.com/photos/47047/gold-ingots-golden-treasure-47047.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body,
html {
    color: white;
    line-height: 1.7;
    /* font-size: 14px; */
    font-weight: 400;
    font-family: Lato, sans-serif;

}

header {
    /* background: #e7c8b2; */
}
   
button {
    background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%);
    margin: 5px;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .printALL{
    background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000  100%);
    margin: 5px;
    padding: 8px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
  }
 
  .printALL:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;  
}

.table{
  opacity: 0.9;
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    color: white;
}

label{
  font-weight: bold;
  color: white;
}

