* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Tahoma;
    background: gray;
    font-weight: bold;
}

.label {
    display: flex;
    align-items: center;
    background: white;
    width: 86mm;
    padding: 0.7mm 0 0 0.3mm ;
}
.content__left,
.content__right {
    width: 28mm;
}
.content__left{
    font-size: 5.4px;
}
.content__right {
    font-size: 6px;
}

