* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Tahoma;
    font-size: 7px;
    font-weight: bold;
    background: gray;
}

.label {
    /* height: 9.2604mm;
    width: 80mm;   */
    display: flex;
    text-align: center;
    align-items: center;
    background: white;
    padding: 0.6mm 0;
}

.content__left,
.content__right {
    width: 20mm;
    text-align: center;
}

.klv {
    background: black;
    color: white;
}